@using WebApplication1.Models;

@{
    ViewBag.Title = "Index";
    Layout = "";
}

<h2>Index</h2>

<table class="table-bordered">
    <thead>
    <tr>
        <td>id</td>
       <td>name</td>
      
         <td>price</td>
        <td>image</td>
         </tr>
    </thead>

    @foreach (var item in ViewBag.products)
    {
        <tr>
            <td>@item.id</td>

            <td>@item.name</td>

            <td>@item.price</td>

            <td><img src="~/uploading/@item.image" height="100px";  /></td>

        </tr>
    }
</table>